* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sections-container {
  width: 1200px;
  margin: 13px auto 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title {
  height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: left;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 303px;
}

.product-carousel {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  background-color: #fff;
}

.product-carousel::-webkit-scrollbar {
  display: none;
}

.product-card {
  position: relative;
  width: 160px;
  height: 303px;
  padding: 0px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  scroll-snap-align: start;
  cursor: pointer;
}

.best-price-label {
  position: absolute;
  top: 51%;
  left: 0px;
  transform: translateY(-50%);
  background-color: #f79009;
  color: white;
  font-size: 9px;
  padding: 8px 6px;
  border-radius: 12px;
  font-weight: bold;
}

.product-image {
  width: 160px;
  height: 160px;
}
.product-card--info {
  width: 160px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.product-price {
  height: 19px;
  font-size: 16px;
  font-weight: bold;
}

.previous-price {
  font-size: 12px;
  color: #000000b3;
  position: relative;
  margin-left: 5px;
}

.previous-price::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #ec5e2a;
  transform: translateY(-50%);
}

.product-new-price {
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: #ec5e2a;
}
.product-installment {
  height: 15px;
  font-size: 8px;
  color: #888;
}

.product-link {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  line-height: 18px;
  height: 36px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: block;
  word-wrap: break-word;
}

.product-installment span {
  color: #ec5e2a;
}

.product-actions {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.compare-btn,
.add-cart-btn {
  height: 40px;
  /* padding: 5px; */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.compare-btn {
  width: 40px;
  background-color: #f2f2f2;
  padding: 14px;
}
.compare-btn img {
  width: 17px;
  height: 17px;
}

.add-cart-btn {
  width: 110px;
  background-color: #f28f6a;
  padding: 10px 13px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.add-cart-btn img {
  width: 17px;
  height: 17px;
}

.carousel-nav {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-nav.prev {
  left: 20px;
}

.carousel-nav.next {
  right: 20px;
}

.carousel-nav img {
  width: 19px;
  height: 19px;
}
