@font-face {
  font-family: Firago;
  src: url("../fonts/Firago/FiraGO-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Firago;
}

header {
  position: relative;
}

#header__details {
  width: 100%;
  background-color: var(--orange-main);
}

.header__details--content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 0 auto;
}

.phone__details {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.phone__details p {
  margin: 0px;
  color: var(--white-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.phone__details:hover {
  transform: scale(1.001);
}

/* navigation */

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__list--item {
  transition: transform 0.1s ease;
}

.nav__list--item a {
  margin: 0px;
  color: var(--white-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.7;
  cursor: pointer;
  transition: color 0.1s ease;
}

.nav__list--item:hover {
  transform: scale(1.02);
}

.nav__list--item:hover a {
  opacity: 1;
}

/* ======================   */

header {
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
  /* z-index: 10000000000; */
}

#header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px 0;
  max-width: 1200px;
  margin: 0 auto;
}

header.active {
  animation: 0.5s ease headerAnimation;
  z-index: 1000000;
  height: 70px;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(237, 235, 235, 0.74);
}

@keyframes headerAnimation {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

#burger {
  display: none;
  position: fixed;
}

.logo {
  width: 151px;
  height: 40px;
  cursor: pointer;
}

.header__controls--content {
  display: flex;
  text-align: center;
  gap: 20px;
  width: 919px;
  height: 44px;
  position: relative;
}

.navigation_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 130px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--orange-main);
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  text-align: center;
}

.navigation_btn h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--white-main);
}

.search_input--container-all {
  width: 400px;
  height: 100%;
  background-color: var(--white-main);
  border: 1px solid rgba(236, 94, 42, 0.5);
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  padding: 11px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  position: relative;
  z-index: 10000;
}

#search_input {
  border: none;
  outline: none;
  width: 90%;
}

/* search result */

#search_result--overlay {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 9990;
  transition: 0.2s;
}

#search_result--overlay.active {
  display: block;
}

.search_result {
  position: fixed;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  background: var(--white-main);
  width: 600px;
  max-height: 500px;
  overflow: scroll;
  z-index: 999999999999;
  border-radius: 12px;
  padding: 20px 20px;
}

.search_result--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--orange-main);
  padding: 10px 10px 0px;
  cursor: pointer;
}

.search_result--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  padding: 0px 10px 15px;
  margin: 10px 0;
}

.search_details--container {
  width: 100%;
  height: fit-content;
  padding: 6px;
  background: rgb(242, 242, 242);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.result_img {
  width: 38px;
  height: 38px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.search_details--content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.search_details--title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-08);
  opacity: 0.8;
  text-align: start;
}

.search_details--price {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  color: var(--product-black);
  text-align: start;
}

.cart_containeer {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: var(--white-main);
  opacity: 0.8;
  border-radius: 12px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
}

.cart_containeer h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--black-main);
}

#header_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: none;
}
#laguage {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--white-main);
  padding: 7px 10px;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  min-width: 48px;
}

#laguage_option {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  margin-top: 10px;
  background: var(--white-main);
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  display: none;
  z-index: 1000000;
}

#laguage_option.active {
  z-index: 1000000;
  display: flex;
}

.laguage_option--county {
  display: inline-block;
  padding-block: 7px;
  text-align: center;
  cursor: pointer;
  z-index: 100000;
}

.laguage_option--county:hover {
  background-color: var(--white-300);
}

.laguage_selected {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#flag {
  width: 28px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  object-fit: contain;
}
/* ========================= */

/* popup=============================== */

.main_popup {
  position: relative;
  top: 0;
  left: 0;
}

#popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99900;
}

#popup.active {
  display: flex;
}

#overlay {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;
  background-color: var(--black-06);
  z-index: 99900;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#popup_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 440px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: var(--white-main);
  border: 1px solid var(--orange-second);
  max-width: 100%;
  margin: 0 1.5rem;
  max-height: 100%;
  bottom: 0;
  z-index: 99999;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.2s ease, visibility 0s linear 0.3s;
}

#popup_container.open {
  bottom: 250px;
  visibility: visible;
  transform: scale(1);
  transition: transform 0.2s ease;
}

#close_tbn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.popup_title--container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--white-400);
}

#red_before {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--orange-main);
  bottom: -2px;
  right: 200px;
}

.popup_title-box {
  width: 50%;
  padding: 24px 0px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popup_title {
  color: var(--black-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

#authorization_container {
  display: flex;
  gap: 5px;
}

.authorization_box {
  cursor: pointer;
  padding: 12px 11px;
  border-radius: 30px;
  background: var(--white-400);
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--white-main);

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-main);
  opacity: 1;
}

.authorization_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-main);
  opacity: 0.5;
}

.authorization_box.active {
  border: 1px solid var(--orange-main);
  background: var(--orange-02);
}

.authorization_title.active {
  color: var(--black-main);
  opacity: 1;
}

#popup_main--content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
  padding: 20px 0;
}

#number_input--container {
  display: flex;
  position: relative;
  display: grid;
  grid-template-columns: 85px 1fr;
  column-gap: 11px;
  margin-bottom: 0px;
  transition: 0.3s;
}

/* country search */

#country_list--container.active {
  display: block;
}

#country_list--container {
  display: none;
  outline: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 5px 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  max-width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;

  border-radius: 10px;
  top: 65px;
  left: 0px;
}

.search_county--container {
  position: sticky;
  overflow: hidden;
}

#search_county {
  width: 250px;
  border-radius: 10px;
  border: 1px solid #cacaca;
  font-size: 15px;
  outline: none;
  padding: 3px 8px 5px;
  margin: 10px 10px;
}

#country_list {
  max-width: 300px;
  max-height: 200px;
}

.country_list--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
}

.country_list--item:hover {
  background-color: #ecf4fd;
}

.county_flag {
  width: 16px;
  height: 11px;
}
.county_name,
.country_phone {
  font-size: 15px;
}

#number_input--index {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  background: var(--white-400);
  padding: 15px;
  gap: 5px;
  cursor: pointer;
}

#number_input--index img {
  width: 16px;
  height: 11px;
}

#number_input--index h4 {
  font-size: 12px;
}

#deal_index {
  font-weight: 500;
  color: var(--black-06);
  font-size: 0.813rem;
  white-space: nowrap;
}

.number_input-field {
  background: var(--white-400);
  position: relative;
  box-sizing: border-box;
  height: 50px;
  min-height: 50px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
  text-align: center;
  padding: 10px;
}

.popup_input {
  border: none;
  outline: none;
  width: calc(100% - 16px);
  left: 16px;
  padding-right: 0.7rem;
  font-family: var(--black-main);
  font-size: 0.813rem;
  color: var(--black-main);
  appearance: none;
  background: transparent;
  position: absolute;
  top: 35%;
  line-height: 1;
  flex-shrink: 0;
  font-weight: 500;
  transition: 0.175s ease-out;
  font-size: 14px;
}

.input_name.active {
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-1.3rem);
  align-items: center;
  transition: 0.175s ease-out;
  pointer-events: none;
  max-width: calc(100% - 1.25rem);
  display: block;
  color: var(--black-06);
  padding-right: 0.7rem;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  transition: 0.175s ease-out;
  pointer-events: none;
  max-width: calc(100% - 1.25rem);
  display: block;
  color: var(--black-06);
  padding-left: 10px;
  padding-right: 0.7rem;
}

#password_hide {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

#radio_rules--container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#radio_btn {
  cursor: pointer;
}

.popup_button {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-main);
  line-height: 17px;
  background-color: var(--orange-main);
  text-align: center;
}

.google_btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid var(--white-400);
}

.google_btn--container h4 {
  margin: 20px auto;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-main);
}

.google_btn {
  background-color: var(--white-400);
  margin: 0 auto;
  cursor: pointer;
}

.google_btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* =============  mail_autorization*/

.mail_inpits--container {
  display: flex;
  flex-direction: column;
}

.mail_input {
  background: var(--white-400);
  position: relative;
  box-sizing: border-box;
  height: 50px;
  min-height: 50px;
  border-radius: 12px;
  margin: 0px;
  transition: 0.3s;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* ======================cart */

.cart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.cart_container img {
  width: 300px;
  height: 300px;
}

/* ======== navigation */
.navigation_section {
  width: 100%;
  height: fit-content;
  margin-top: 60px;
}

.navigation_section--title {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 24px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--white-400);
}

.navigation_section--title h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(10, 50, 81);
}

#navigation_container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
}

.navigation_list--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.navigation_list-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(10, 50, 81);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.5s ease;
}

.navigation_list-item {
  font-size: 14px;
  color: rgb(10, 50, 81);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navigation_list-item:hover,
.navigation_list-title:hover {
  color: var(--orange-main);
}

/* below header */
.below_header {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background: var(--white-main);
  z-index: 10000000;
}

.below_header--container {
  border: 1px solid var(--white-600);
  padding: 0px 10px 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  position: relative;
}

.below_header--card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.red_cirlce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 40px;
  background-color: rgb(236, 94, 42);
  position: absolute;
  bottom: 26px;
  cursor: pointer;
}

.below_icons--title {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-main);
}

.orange {
  color: var(--orange-main);
}

.orange_icon {
  stroke: var(--orange-main);
}

/* aside slider */

#aside_slider {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 122222;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: 0.5s;
  transform: translateX(-100%);
  display: none;
}

.aside_slider--input {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.colorOrange {
  color: orange;
}

#close_tbn--aside {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  #header__controls {
    padding: 0px 20px;
    background-color: rgba(237, 235, 235, 0.74);
    backdrop-filter: blur(10px);
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100;
    top: 0;
  }

  .header__controls--content {
    width: fit-content;
  }

  #header__details,
  .cart_containeer,
  .search_input--container-all,
  .navigation_btn {
    display: none;
  }

  .aside_input,
  .below_header,
  #header_icons,
  #burger {
    display: flex;
  }

  #search_conteiner {
    width: 90%;
  }

  .logo {
    width: 107px;
    height: 28px;
    position: absolute;
    left: 70px;
    bottom: 10px;
  }

  #laguage {
    width: 25px;
    height: 40px;
    z-index: 111111111;
  }

  /* popup */

  #popup_container.open {
    width: 100%;
    bottom: 100px;
  }

  .popup_title-box {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  #popup_btn {
    margin-top: 20px;
  }

  .popup_button {
    width: 400px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--white-main);
    line-height: 17px;
    background-color: var(--orange-main);
    text-align: center;
  }

  .google_btn--container {
    border-top: 2px solid var(--white-400);
  }

  .google_btn--container h4 {
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-main);
  }

  .google_btn {
    background-color: var(--white-400);
    margin: 0 auto;
    cursor: pointer;
  }

  .google_btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  body {
    position: relative;
  }

  header {
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
  }

  #header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  header.active {
    animation: 0.5s ease headerAnimation;
    z-index: 9;
    height: 70px;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(237, 235, 235, 0.74);
  }

  @keyframes headerAnimation {
    0% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .logo {
    width: 151px;
    height: 40px;
    cursor: pointer;
  }

  .header__controls--content {
    display: flex;
    text-align: center;
    gap: 20px;
    width: 919px;
    height: 44px;
    position: relative;
  }

  .navigation_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--orange-main);
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
    text-align: center;
  }

  .navigation_btn h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--white-main);
  }

  #search_conteiner {
    width: 400px;
    height: 100%;
    background-color: var(--white-main);
    border: 1px solid rgba(236, 94, 42, 0.5);
    border-radius: 12px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
    padding: 11px;
    cursor: pointer;
    display: flex;
    gap: 15px;
    position: relative;
  }

  #search_input {
    border: none;
    outline: none;
    width: 90%;
  }

  /* search result */

  .search_result {
    position: fixed;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    background: var(--white-main);
    width: 600px;
    max-height: 500px;
    overflow: scroll;
    border-radius: 12px;
    padding: 20px 20px 0 15px;
  }

  .search_result--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
  }

  .category {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--orange-main);
    padding: 10px 10px 0px;
    cursor: pointer;
  }

  .search_result--details {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    padding: 0px 10px 15px;
    margin: 10px 0;
  }

  .search_details--container {
    width: 100%;
    height: fit-content;
    padding: 6px;
    background: rgb(242, 242, 242);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .result_img {
    width: 38px;
    height: 38px;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .search_details--content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
  }

  .search_details--title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-08);
    opacity: 0.8;
    text-align: start;
  }

  .search_details--price {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    color: var(--product-black);
    text-align: start;
  }

  .cart_containeer {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: var(--white-main);
    opacity: 0.8;
    border-radius: 12px;
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  }

  .cart_containeer h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: var(--black-main);
  }

  #laguage {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--white-main);
    padding: 7px 10px;
    border-radius: 12px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
    min-width: 48px;
    z-index: 11111;
  }

  #laguage_option {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    margin-top: 10px;
    background: var(--white-main);
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
    display: none;
  }

  #laguage_option.active {
    display: flex;
  }

  .laguage_option--county {
    display: inline-block;
    padding-block: 7px;
    text-align: center;
    cursor: pointer;
  }

  .laguage_option--county:hover {
    background-color: var(--white-300);
  }

  .laguage_selected {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #flag {
    width: 28px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    object-fit: contain;
  }
}
