@font-face {
    font-family: Firago;
    src: url("../fonts/Firago/FiraGO-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
  .payment__container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto 60px auto;
    padding: 0px 20px;
  }
  .payment__container__title {
    /* margin: 7px 0px 10px 0px; */
    padding-bottom: 24px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f2f2f2;
  
  }
  .payment__container__head {
    font-weight: 600;
    font-size: 23pt;
    font-weight: 900;
    line-height: 24px;
    color: var(--black-main);
    font-size: 20px;
  }
  .payment__container__content--heading {
    text-align: center;
    font-size: 23pt;
    margin-top: 35px;
    font-weight: 600;
    font-family: Firago;
  }
  .payment__container__content--secondtitle {
    padding: 40px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .payment__container__content--text--details{
      line-height: 1.38;
      
      margin:12px 0px;
      font-family: Arial, sans-serif;
      color: rgb(0, 0, 0);
      background-color: transparent;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;
      font-variant-alternates: normal;
      font-variant-position: normal;
      vertical-align: baseline;
      
  }
  .payment__container__content--text--details--step{
      font-size: 12pt;
      font-family: Arial, sans-serif;
      color: rgb(0, 0, 0);
      background-color: transparent;
      font-weight: 700;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;
      font-variant-alternates: normal;
      font-variant-position: normal;
      vertical-align: baseline;
      /* white-space-collapse: preserve; */
  }


  .payment__container__content--text--details--list{
      margin-bottom: 0px;
      padding-inline-start: 48px;
      display: flex;
      flex-direction: column;
      gap:20px;
      margin-bottom: 20px;
  }
  .payment__container__content--text--details--list--item{
      list-style-type: disc;
      /* font-size: 11pt; */
      font-family: Arial, sans-serif;
      color: rgb(0, 0, 0);
      background-color: transparent;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;
      font-variant-alternates: normal;
      font-variant-position: normal;
      vertical-align: baseline;
      /* white-space: pre; */
      line-height: 1.38;
  
  }

  @media screen and (max-width: 700px) {
    .payment__container__content--text--details--step{
      line-height: 1.2;
    }
    .payment__container__content--text--details--list--item{
      text-align: start;
    }
  }