body {
  position: relative;
}

header {
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
}

#header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px 0;
  max-width: 1200px;
  margin: 0 auto;
}

header.active {
  animation: 0.5s ease headerAnimation;
  z-index: 1;
  height: 70px;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(237, 235, 235, 0.74);
}

@keyframes headerAnimation {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.logo {
  width: 151px;
  height: 40px;
  cursor: pointer;
}

.header__controls--content {
  display: flex;
  text-align: center;
  gap: 20px;
  width: 919px;
  height: 44px;
  position: relative;
}

.navigation_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 130px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--orange-main);
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  text-align: center;
}

.navigation_btn h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--white-main);
}

#search_conteiner {
  width: 400px;
  height: 100%;
  background-color: var(--white-main);
  border: 1px solid rgba(236, 94, 42, 0.5);
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  padding: 11px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  position: relative;
}

#search_input {
  border: none;
  outline: none;
  width: 90%;
}

/* search result */
/* 
.search_result--overlay {
  position: fixed;
  top: 110px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  z-index: 99999999;
  transition: 0.2s;
} */

.search_result {
  position: fixed;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  background: var(--white-main);
  width: 600px;
  max-height: 500px;
  overflow: scroll;
  /* z-index: 999999999999; */
  border-radius: 12px;
  padding: 20px 20px;
}

.search_result--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--orange-main);
  padding: 10px 10px 0px;
  cursor: pointer;
}

.search_result--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  padding: 0px 10px 15px;
  margin: 10px 0;
}

.search_details--container {
  width: 100%;
  height: fit-content;
  padding: 6px;
  background: rgb(242, 242, 242);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.result_img {
  width: 38px;
  height: 38px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.search_details--content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.search_details--title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-08);
  opacity: 0.8;
  text-align: start;
}

.search_details--price {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  color: var(--product-black);
  text-align: start;
}

.cart_containeer {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: var(--white-main);
  opacity: 0.8;
  border-radius: 12px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
}

.cart_containeer h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--black-main);
}

#laguage {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--white-main);
  padding: 7px 10px;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  min-width: 48px;
}

#laguage_option {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  margin-top: 10px;
  background: var(--white-main);
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  display: none;
}

#laguage_option.active {
  display: flex;
}

.laguage_option--county {
  display: inline-block;
  padding-block: 7px;
  text-align: center;
  cursor: pointer;
}

.laguage_option--county:hover {
  background-color: var(--white-300);
}

.laguage_selected {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#flag {
  width: 28px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  object-fit: contain;
}
